# macOS
.DS_Store

# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code local settings
.vscode/

# Matplotlib cache
.matplotlib_cache/

# Environment / secret files
.env
.env.*

# Temporary files
*.tmp
*.log
